<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote History</title>
</head>

<body>
    <header class="top-bar">
        <h1 class="history-header">Fuel Quote History</h1>
        <nav>
            <ul class="links">
                <li><a href="/fuel_quote_form" ><button>Buy</button></a></li>
                <li><a href="/"><button>Profile</button></a></li>
            </ul>
        </nav>
    </header>

    

    <section>
    <table class="history-table">
        <thead>
            <tr>
                <th>Gallons Request</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Price/Gallon</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{gallonsRequested}}</td>
                <td>{{deliveryAddress}}</td>
                <td>{{deliveryDate}}</td>
                <td>{{pricePerGallon}}</td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
    </section>

<!--     
    <template>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </template> 
-->

</body>


</html>